/* 
* @Author: anchen
* @Date:   2015-09-03 21:45:27
* @Last Modified by:   anchen
* @Last Modified time: 2015-09-03 21:45:27
*/
/* 
.header{height:31px;border-top:1px solid #eee;border-bottom:#ddd;background:#f9f9f9;}
/*.hidden{overflow:hidden;}*/
.basic_item{margin-right:15px;padding-top:9px;position:relative;}
.phone_s{padding:0 22px;}
.phone{width:164px;height:265px;border:1px solid #ddd;position:absolute;top:30px;left:0;z-index:21;display:none;background:#fff;}
.basic_item:hover .phone_s{border-left:1px solid #ddd;border-right:1px solid #ddd;padding:9px 21px;background:#fff;position:relative;z-index:22;}
.basic_item:hover  .phone{display:block;}
.mast{margin-right:-1px;}
.dropdown{padding-top:8px;position:relative;}
.order{padding:8px;}
.dropdown_toggle{padding:0 21px 0 12px;border-right:1px solid #ddd;position:relative;z-index:30;}
.pos{position:absolute;top:30px;left:0;z-index:22;width:83px;text-align:center;background:#fff;display:none;border-bottom:1px solid #ddd;margin-left:-1px;}
.pos li{line-height:30px;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.pos li:hover{background:#f9f9f9;}

.dropdown:hover .dropdown_toggle{border-left:1px solid #ddd;padding-top:10px; padding-bottom:8px;background:#fff;margin-left:-1px;}
.dropdown:hover .pos{display:block;}
.look{width:219px;height:136px;position:absolute;right:0;top:29px;background:#fff;border:1px solid #ddd;z-index:23;display:none;}
.dropdown:hover .look{display:block;}
.shop{width:219px;height:70px;border:1px solid #ddd;position:absolute;top:29px;right:0;z-index:25;display:none;background:#fff;}
.dropdown:hover .shop{display:block;}
.dropdown .service{width:92px;height:170px;background:#fff;position:absolute;top:29px;right:0;z-index:26;border:1px solid #ddd;display:none;}
.dropdown:hover .service{display:block;}
.shophome{width:97px;height:110px;position:absolute;top:29px;right:0;z-index:27;border:1px solid #ddd;background:#fff;display:none;}
.dropdown:hover .shophome{display:block;}
.more{width:80px;height:110px;position:absolute;top:29px;right:0;z-index:28;background:#fff;border:1px solid #ddd;display:none;}
.dropdown:hover .more{display:block;}

/*
*
* advertisement
*/
.advertisement{position:relative;width:100%;height:60px;}
.adver{position:absolute;width:100%;height:60px;top:0;left:0;}
.bannner{position:absolute;right:5px;bottom:5px;width:27px;height:6px;line-height:12px;padding:3px 0 0 3px;z-index:10;}
.bannner .btn{float:left;width:7px;height:7px;background:#ccc;border-radius:50%;margin-right:5px; cursor:pointer;}
.bannner .btn.active{background:#2bb8aa;}
.advertisement .con{position:absolute;width:1170px;height:60px;top:50%;left:50%;margin-left:-585px;margin-top:-30px;display:none;z-index:9;}
.advertisement .con.active{display:block;}
.ad_2{background:#d0f1f8;display:none;}
.advertisement  img{width:100%;height:60px;}
.close{color:#2bb8aa;position:absolute;right:5px;top:5px;width:10px;height:10px;font-size:18px;cursor:pointer;z-index:11;}

/**
*logo
* 
**/
.logo{height:105px;}
.log{margin-top:20px;margin-right:93px;}
h1{  background: url(../images/base.v21effb81.png) 0 -895px no-repeat;width: 83px;height: 56px;text-indent:-999em;margin-right:10px;}
h2{font-size:18px;padding-top:7px;margin-bottom:5px;}
.city{width:58px;height:19px;border:1px solid #ddd;text-align:center;line-height:19px;}
.search{width:486px;height:38px;border:2px solid #2db8ad;border-right:none;margin-top:21px;font-size:14px;}
.search p a{margin-right:12px;font-size:12px;}
.tshop{position:relative;width:47px;line-height:38px;border-right:1px solid #ddd;border-left:1px solid #fff;
    background:#fff;padding-left:14px;}
.down{position:absolute; top:17px;right:7px;width:6px;height:3px;background:url(../images/down.png)no-repeat;}
.tpos{display:none;position:absolute;top:38px;left:-1px;width:61px;background:#fff;line-height:38px;border:1px solid #ddd; border-top:none; text-align:center;}
.tshop:hover{border-left-color:#ddd;/*background:#f9f9f9;*/cursor:pointer;}
.tshop:hover .tpos{display:block;}
.tshop:hover .down{background-image:url(../images//up.png);}
.tpos:hover li{background:#f9f9f9;}
input[type=text]{width:353px;font-size:12px;padding:14px 0 14px 5px;}
input[type=submit]{width:65px;height:40px;background:#2bb8aa;color:#fff;font-size:14px;cursor: pointer;}
.icon_s{background:url(../images/l_meituan.png)0 -30px no-repeat;width:208px;height:48px;margin-top:30px;}
/**
 *
 * nav
 */
.trigger{width:230px;line-height:40px;background:url(../images/nav_bg.png)repeat-x;padding-left:16px;font-size:14px;color:#fff;}
.nav_n{width:733px;line-height:40px;background:#2bb8aa;font-size:16px;}
.item{float:left;}
.item a{display:block;color:#fff; padding:0 28px;}
.item a:hover{background:#00c3b0;}

/*
p
 */
.pro{line-height:52px;}
.pro a{margin-right:28px;}
.fc5bb8aa{color:#5bb8aa;}
.pro a:hover{color:#5bb8aa;}
.f_rel{position:relative;}
.new{position:absolute;right:0;top:-7px;background:url(../images/base.v21effb81.png) 0 -882px no-repeat; width:21px;height:13px;}
/*

 */

.title{font-size:16px;line-height:60px;margin-bottom:0;}
.smicon{background:url(../images/movie.vc6a0b161.png) 0 -750px; display:inline-block;width:55px;height:20px;}
.motaine{width:980px;height:424px;border:1px solid #ddd;margin-top:10px;}
.motaine dt{margin-left:23px;margin-top:20px;}
.motaine dd{width:787px;}
.border_btom{width:787px;border-bottom:1px solid #ddd;line-height:60px;}
.prodectw123{margin-left:25px;}
.prodectw123  p{line-height:26px;}
.line_20{line-height:20px;}
.start{background:url(../images/srart1.png)no-repeat;width:240px;height:60px;}
.w_400{width:400px; line-height:20px;}
.juqing{border-top:1px solid #ddd;margin:15px 20px 0 20px;}
.juqing .line_48{line-height:48px;}
.juqing .line_20{line-height:20px;}
.pingfen{background:url(../images/pingfen.png)no-repeat;width:138px;height:38px;}

/*

 */
 .context_h{margin-top:30px;}
.context_left{width:718px;height:1225px;border:1px solid #ddd;}
.context_right{width:238px;height:1270px;border:1px solid #ddd;}
.box{border-bottom:1px solid #ddd;height:43px;}
.context_left .btn{color:#2bb8cc; float:left;width:87px;height:43px;text-align:center; line-height:43px;border-left:1px solid #ddd;
    border-right:1px solid #ddd;margin-left:-1px;}
.context_left .btn.active{color:#333;font-weight:bold;border-top:2px solid #2bb8aa;margin-top:-1px;height:43px; background:#fff; line-height:41px;}
.context_h .con{display:none;}
.con_txt_list{width:688px;margin:0 15px;}
.con_txt_list li{height:86px;border-bottom:1px dotted #ddd;line-height:30px;}
.context_h .con.active{display:block;}

.cont_left_list{height:112px; border-bottom:1px solid #eee; position:relative;}
.cont_left_list:hover{background:#f9f9f9;}
.cont_left_list span{color:#999;}
.cont_left_list p{ font-size:12px; color:#999; position:absolute; top:28px; left:426px; background:url(../images/movie.vc6a0b161.png) no-repeat 0 -1110px; height:16px; padding-left:16px;}
.cont_left_list .l h4{font-size:14px; line-height:18px; padding-top:26px; padding-bottom:10px;}
.cont_left_list .l h4 a{ color:#666;}
.cont_left_list .l h4 a:hover{color:#2bb8aa;}
.cont_left_list .l h4 span{ font-size:12px; color:#fff; background:#f76120; width:32px; height:18px; display:inline-block; text-align:center; border-radius:3px; margin-left:15px;}
.cont_left_list .l b{color:#999;}
.cont_left_list .r .top{width:160px;margin-right:10px;  line-height:25px; margin-top:25px;}
.cont_left_list .r .top span{font-size:16px; font-family: arial,sans-serif; font-weight:bold; color:#f76120;}
.cont_left_list .r .top span b{ color:#999; font-size:14px;}
.cont_left_list .r .top a{width:93px; height:25px; text-align:center; color:#fff; background:url(../images/tuan.jpg) repeat-x;}
.cont_left_list .r .bottom{width:160px; margin-right:10px;  margin-top:10px;  line-height:25px;}
.cont_left_list .r .bottom span{font-size:16px; font-family: arial,sans-serif; font-weight:bold; color:#f76120;}
.cont_left_list .r .bottom span b{ color:#999; font-size:14px;}
.cont_left_list .r .bottom a{width:93px; height:25px; text-align:center; color:#fff; background:url(../images/xuan.jpg) repeat-x;}

.cont_right{width:208px; height:526px; border:1px solid #eee; padding:0 15px;}
.context_right h4{ font-size:16px; color:#333; margin-top:24px;  margin-bottom:21px;}
.context_right .all{ font-size:12px; color:#666; font-weight:bold; margin-top:26px;}
.context_right .all:hover{color:#2bb8aa; text-decoration:underline;}
.cont_right_list{height:105px; border-bottom:1px solid #eee; margin-top:10px;}
.cont_right_list img{ width:61px; height:81px;}
.cont_right_list div{width:137px; margin-left:10px;}
.cont_right_list div h5 a{ font-size:12px; color:#666;}
.cont_right_list div h5 a:hover{color:#2bb8aa;}
.cont_right_list div p{font-family:arial,sans-serif; font-weight:bold; color:#f76120;font-size:14px; line-height:30px;}
.cont_right_list div span{ color:#666; display:block; line-height:16px;}
.cont_right_list div b{ color:#999;}

/*

 */
.wrap980 .g_ft{border-top:3px solid #ddd ;margin-top:30px;}
.wrap980 .g_ft a:hover{text-decoration:underline; }
.wrap980 .g_ft dl{ width:187px; height:180px; border:none;}
.wrap980 .g_ft .list dt{ font-size:14px; color:#3e4545; font-weight:bold; margin:25px 0 11px 25px; }
.wrap980 .g_ft .list dd{ color:#3e4545; line-height:22px; background:url(../images/l_diandian.png) no-repeat left center; margin-left:29px; }

/*.wrap980 .g_ft .service{width:182px;background:url(../images/l_service.png) no-repeat 86px 21px; padding-left:25px; }*/
.wrap980 .g_ft .service .txt{ font-weight:bold; margin-top:89px; margin-bottom:5px; height:23px;}
.wrap980 .g_ft .service a{ color:#2bb8aa; margin-bottom:22px; display:inline-block;}
.fbottom{border-top:1px solid #ddd;height:168px;background:#f9f9f9;margin-top:38px;}
.fbottom p{ text-align:center; margin-top:34px; }
.fbottom .ft_log{margin-top:22px; margin-left: 302px;}
.fbottom.ft_log a{ margin-right:14px;}